version: '2'

services:
  geoserver:
    image: oscarfonts/geoserver:2.18.1
    container_name: geoserver
    volumes:
      - ./geoserver/data_dir/:/var/local/geoserver
      - ./geoserver/conf_dir/:/usr/local/tomcat/conf/Catalina/localhost
      - ./geoserver/extensions_dir/:/var/local/geoserver-exts/
    ports:
      - "8080:8080"
    environment:
      - CUSTOM_UID=1000
      - CUSTOM_GID=1000

  postgres96:
    image: postgis/postgis:9.6-2.5-alpine
    container_name: postgres96
    ports:
      - 6000:5432
    restart: always
    environment:
      POSTGRES_PASSWORD: examppostgresle
      POSTGRES_USER: postgres
    volumes:
      - postgres-data:/var/lib/postgresql/data

  rabbitmq:
    image: rabbitmq:management
    container_name: rabbitmq
    hostname: my-rabbit
    volumes:
      - ./rabbitmq/etc/definitions.json:/etc/rabbitmq/definitions.json
      - ./rabbitmq/data:/var/lib/rabbitmq/mnesia/rabbit@my-rabbit
      - ./rabbitmq/logs:/var/log/rabbitmq/log
    restart: always
    ports:
      - 5672:5672
      - 15672:15672
    environment:
      - RABBITMQ_ERLANG_COOKIE=rabbit-mq-cookie
      - RABBITMQ_DEFAULT_USER=rabbit-mq
      - RABBITMQ_DEFAULT_PASS=rabbit-mq

volumes:
  postgres-data:

